section{
    min-height: 70vh;
    width: 100%;
    background-color: #C0C0C0;	
    
    padding-top: 70px;
}

section:nth-child(odd){
    background-color: #EFEFEF;
}

.center-children{
    padding-top: 10%;
}

img{
    text-align: center;
}